body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;

    nav {
        display: flex;
        justify-content: space-between;
        padding-top: 47px;

        .navr {
            a {
                color: #ffffff;
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: 12px;
                text-decoration: none;
                margin-left: 25px;
            }

            .hellobtn {
                width: 80px;
                height: 33px;
                border-radius: 17px;
                border: 1px solid #ffffff;
                padding: 4px 20px;
                position: relative;
                left: 8px;
            }
        }
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 199px;
        padding-bottom: 73px;

        h1 {
            color: #ffffff;
            font-family: "Source Sans Pro";
            font-size: 35px;
            font-weight: 300;
            font-style: normal;
            line-height: 68px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 7px;
            margin: 0px;
        }
        p {
            width: 610px;
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.8px;
        }
        a {
            img {
                margin-top: 199px;
            }
        }
    }
}

.about {
    display: flex;
    justify-content: space-between;
    margin: 0 169px;
    padding-top: 97px;
    padding-bottom: 36px;

    h2 {
        color: #333b46;
        font-family: "Source Sans Pro";
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        line-height: 12px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    p {
        width: 472px;
        color: #81868e;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 25px;
        text-align: left;
        letter-spacing: 0.7px;
        margin-top: 44px;
        margin-bottom: 40px;
    }
    a {
        color: #333b46;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 12px;
        text-decoration: none;
        border-radius: 19px;
        border: 1px solid #333b46;
        padding: 7px 28px;
    }
    img {
        position: relative;
        left: 13px;
        bottom: 17px;
    }
}

.details {
    background-color: #f3f3f3;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;

    h2 {
        color: #333b46;
        font-family: "Source Sans Pro";
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    p {
        width: 463px;
        color: #81868e;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.7px;
        margin-top: 19px;
    }

    .detaillist {
        display: flex;
        align-items: center;
        margin-top: 42px;

        div {
            margin: 0px 14px;
        }

        button {
            width: 53px;
            height: 53px;
            background-color: #81868e;
            border: 0;
            border-radius: 25px;
            outline: none;
            cursor: pointer;
        }

        .btnactivate {
            background-color: #19bd9a;
        }
    }
}

.detailshero {
    display: flex;
    justify-content: space-between;
    margin: 0px 70px;
    margin-top: 35px;
    padding-bottom: 23px;

    h3 {
        color: #464646;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.8px;
        padding-bottom: 6px;
    }  
}

.detailsheroleft {
    width: 327px;
    color: #81868e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    text-align: left;
    letter-spacing: 0.8px;
}

.detailsheroright {
    width: 521px;
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    text-align: left;
    letter-spacing: 0.7px;
    margin: 74px 58px;
}