body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

header {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 47px;
}

header nav .navr a {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 12px;
  text-decoration: none;
  margin-left: 25px;
}

header nav .navr .hellobtn {
  width: 80px;
  height: 33px;
  border-radius: 17px;
  border: 1px solid #ffffff;
  padding: 4px 20px;
  position: relative;
  left: 8px;
}

header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 199px;
  padding-bottom: 73px;
}

header .hero h1 {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  line-height: 68px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 0px;
}

header .hero p {
  width: 610px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.8px;
}

header .hero a img {
  margin-top: 199px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 169px;
  padding-top: 97px;
  padding-bottom: 36px;
}

.about h2 {
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 12px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.about p {
  width: 472px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: left;
  letter-spacing: 0.7px;
  margin-top: 44px;
  margin-bottom: 40px;
}

.about a {
  color: #333b46;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 12px;
  text-decoration: none;
  border-radius: 19px;
  border: 1px solid #333b46;
  padding: 7px 28px;
}

.about img {
  position: relative;
  left: 13px;
  bottom: 17px;
}

.details {
  background-color: #f3f3f3;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
}

.detail h2 {
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.detail p {
  width: 463px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.7px;
  margin-top: 19px;
}

.detail .detaillist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 42px;
}

.detail .detaillist div {
  margin: 0px 14px;
}

.detail .detaillist button {
  width: 53px;
  height: 53px;
  background-color: #81868e;
  border: 0;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
}

.detail .detaillist .btnactivate {
  background-color: #19bd9a;
}

.detailshero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 70px;
  margin-top: 35px;
  padding-bottom: 23px;
}

.detailshero h3 {
  color: #464646;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.8px;
  padding-bottom: 6px;
}

.detailsheroleft {
  width: 327px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.8px;
}

.detailsheroright {
  width: 521px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: left;
  letter-spacing: 0.7px;
  margin: 74px 58px;
}

.dhl1 {
  color: #19bd9a;
  font-weight: 700;
}

.dhl2 {
  color: #636971;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.feattext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feattext h3 {
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 81px;
}

.feattext p {
  width: 463px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.7px;
}

.featimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 100px;
  margin-top: 44px;
}

.featimg .feat1 {
  width: 701px;
  position: relative;
  left: 2px;
}

.featimg .feat2 {
  width: 336px;
}

.featimg .feat3 {
  width: 334px;
  right: 3px;
  position: relative;
}

.featimg div {
  height: 319px;
}

.featdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../img/featbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -98px;
  margin-right: -98px;
  padding: 24px 169px;
}

.featdown p {
  width: 753px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: left;
  letter-spacing: 0.8px;
}

.featdown p span {
  font-weight: 700;
  letter-spacing: 0.8px;
}

.featdown button {
  border-radius: 19px;
  border: 1px solid #ffffff;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  width: 140px;
  height: 37px;
  margin-top: 15px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}

.services {
  background-color: #f3f3f3;
  padding-bottom: 77px;
}

.servtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servtext h2 {
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 81px;
}

.servtext p {
  width: 463px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.7px;
  margin-top: 19px;
}

.servhero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 43px 71px;
}

.servhero .shl button {
  width: 53px;
  height: 53px;
  background-color: #81868e;
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 45px;
  margin-bottom: 17px;
}

.servhero .shl .shlbtnact {
  background-color: #19bd9a;
}

.servhero .shc {
  margin-right: 37px;
  margin-top: -26px;
}

.servhero .shc h3 {
  color: #464646;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  letter-spacing: 0.8px;
}

.servhero .shc .shc2 {
  width: 399px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.8px;
  margin-top: 26px;
}

.servhero .shc .shc3 {
  width: 402px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: left;
  letter-spacing: 0.7px;
  margin-top: 27px;
}

.servhero .shr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
}

.servhero .shr .shrperc {
  width: 124px;
  margin-top: 49px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  font-style: normal;
  letter-spacing: 1.25px;
}

.servhero .shr .shrperc span {
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.7px;
  line-height: normal;
}

.servhero .shr .shrtext {
  color: #81868e;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.8px;
  margin-top: 67px;
}

.servhero .shr .shr1 {
  background-image: url(../img/svr1.png);
  background-repeat: no-repeat;
  margin-right: 38px;
}

.servhero .shr .shr2 {
  background-image: url(../img/svr2.png);
  background-repeat: no-repeat;
  margin-right: 42px;
}

.servhero .shr .shr3 {
  background-image: url(../img/svr3.png);
  background-repeat: no-repeat;
}

.impressed {
  background-image: url(../img/impressedbg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.im {
  padding-bottom: 83px;
}

.im h2 {
  color: #f3f3f3;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 12px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  padding-top: 80px;
}

.im h4 {
  color: #b2b3b3;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin-top: 21px;
  margin-bottom: 0px;
}

.im .imp1 {
  width: 602px;
  color: #b2b3b3;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.8px;
  margin-top: 54px;
}

.im .imp2 {
  color: #b2b3b3;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  font-family: "Open Sans";
  letter-spacing: 0.7px;
  margin-top: 6px;
}

.im .imp2 a {
  color: #19bd9a;
  letter-spacing: 0.7px;
  text-decoration: none;
}

.im::before {
  background-image: url(../img/impressedbefore.png);
  background-repeat: no-repeat;
  width: 409px;
  height: 328px;
  content: "";
  position: absolute;
  left: 1108px;
  top: 3107px;
}

.portfolio {
  margin-top: 1635px;
}

.teamblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 66px;
}

.teamblock h2 {
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.teamblock p {
  width: 463px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.7px;
  margin-top: 18px;
}

.teamslider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 44px;
}

.teamsliderblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.teamsliderblock img {
  margin-right: 280px;
}

.teamsliderblock h2 {
  color: #464646;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.8px;
  text-align: right;
  text-transform: none;
}

.teamsliderblock h3 {
  color: #81868e;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: normal;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: right;
  margin-top: -4px;
}

.teamsliderblock p {
  width: 371px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  letter-spacing: 0.7px;
  margin-top: 23px;
}

.teamsliderblock h4 {
  color: #81868e;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.teamsliderblock .tsind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teamsliderblock .tsind .tsindtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teamsliderblock .tsbl {
  position: relative;
  right: 46px;
}

.teamsliderblock .tsbr {
  margin-top: 15px;
}

.teamsliderhref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teamsliderhref button {
  width: 14px;
  height: 14px;
  border: 1px solid #19bd9a;
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
}

.teamsliderhref .tshactive {
  background-color: #19bd9a;
}
/*# sourceMappingURL=main.css.map */